<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About</h2>
            <p> {{ profile.bio1 }}</p>
        </div>

        <div class="row">

            <div class="col-lg-4">
                <img src="{{ profile.avatar_url }}" class="img-fluid" alt="">
            </div>

            <div class="col-lg-8 pt-4 pt-lg-0 content">
                <h3>{{ profile.info.job_title }}</h3>
                <div class="col-lg-6" style="margin-top: 20px;">
                    <ul>
                        <li>
                            <i class="bi bi-person-lines-fill"></i>
                            <strong>Vietnamese name:</strong>
                            <span>{{ profile.info.vietnamese_name }}</span>
                        </li>
                        <li>
                            <i class="bi bi-calendar3"></i>
                            <strong>Birthday:</strong>
                            <span>{{ profile.info.birthday }}</span>
                        </li>
                        <li>
                            <i class="bi bi-building"></i>
                            <strong>Location:</strong>
                            <span>{{ profile.info.location }}</span>
                        </li>
                        <li>
                            <i class="bi bi-envelope"></i>
                            <strong>Email:</strong>
                            <span>{{ profile.info.email }}</span>
                        </li>
                    </ul>
                </div>
            </div>

            <p> {{ profile.bio2 }}</p>

        </div>

    </div>
</section>