<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About</h2>
            <p> {{ profile.bio1 }}</p>
        </div>

        <div class="row">

            <div class="col-lg-4">
                <img
                    src="{{ profile.info.avatar_url }}"
                    class="img-fluid"
                    alt="{{ profile.info.first_name }}'s avatar">
            </div>

            <div class="col-lg-8 pt-4 pt-lg-0 content">
                <h3>{{ profile.info.job_title }}</h3>
                <div class="col-lg-6" style="margin-top: 20px;">
                    <ul>
                        {% for key, extra in profile.extra_info.items %}
                        {% if extra.css_class and extra.name and extra.value %}
                        <li>
                            <i class="{{ extra.css_class }}"></i>
                            <strong>{{ extra.name }} :</strong>
                            <span>{{ extra.value|safe }}</span>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <p> {{ profile.bio2 }}</p>

        </div>

    </div>
</section>