<div class="h-100 d-flex flex-column justify-content-center">
    <nav id="navbar" class="navbar nav-menu">
        <ul>
            <li>
                <a href="#hero" class="nav-link scrollto active">
                    <i class="bx bx-home"></i>
                    <span>Home</span>
                </a>
            </li>
            {% if flags.show_about_section %}
            <li>
                <a href="#about" class="nav-link scrollto">
                    <i class="bx bx-user"></i>
                    <span>About</span>
                </a>
            </li>
            {% endif %}
            {% if flags.show_experience_section %}
            <li>
                <a href="#experience" class="nav-link scrollto">
                    <i class="bx bx-briefcase"></i>
                    <span>Experience</span>
                </a>
            </li>
            {% endif %}
            {% if flags.show_skills_section %}
            <li>
                <a href="#skills" class="nav-link scrollto">
                    <i class="bx bx-body"></i>
                    <span>Skills</span>
                </a>
            </li>
            {% endif %}
            {% if flags.show_testimonials_section %}
            <li>
                <a href="#testimonials" class="nav-link scrollto">
                    <i class="bx bx-happy-heart-eyes"></i>
                    <span>Testimonials</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>