<section id="hero" style='background: url("{{ profile.hero_background }}") top right no-repeat;'>
    <div class="container h-100 d-flex flex-column justify-content-center" data-aos="zoom-in" data-aos-delay="100">
        <h1>{{ profile.info.first_name }} {{ profile.info.last_name }}</h1>
        {% if profile.info.whois %}
        <p>I'm <span class="typed" data-typed-items="{{ profile.info.whois }}"></span></p>
        {% endif %}
        {% if profile.social_links %}
        <div class="social-links">
            {% for key, value in profile.social_links.items %}
            {% if value %}
            <a href="{{ value }}" class="{{ key }}"><i class="bx bxl-{{ key }}"></i></a>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>