{% extends 'base.html' %}

{% block page_title %}{{ profile.info.first_name }} {{ profile.info.last_name }}{% endblock %}

{% block page_meta %}
<meta content="" name="description">
<meta content="" name="keywords">
{% endblock %}

{% block load_resources %}
    {% include "resources.html" with icons=page_icons %}
{% endblock %}

{% block header %}
    {% include "header.html" with flags=flags %}
{% endblock %}

{% block top_button %}
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
{% endblock %}

{% block hero %}
    {% include "hero.html" with profile=profile %}
{% endblock %}

{% block content %}
    {% if flags.show_about_section %}
        {% include "about.html" with profile=profile %}
    {% endif %}
    {% if flags.show_experience_section %}
        {% include "experience.html" with profile=profile experience=experience%}
    {% endif %}
{% endblock %}

{% block loading %}
<div id="preloader"></div>
{% endblock %}

{% block bottom_button %}
<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>
{% endblock %}

{% block footer %}
    {% include "footer.html" with profile=profile %}
{% endblock %}

{% block load_script %}
    {% include "scripts.html" %}
{% endblock %}