{% load static %}
<section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Testimonials</h2>
            <p>{{ testimonials.description }}</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                {% for key, value in testimonials.items %}
                {% if "who" in key %}
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="{{ value.avatar }}" class="testimonial-img" alt="{{ value.name }} image">
                        <h3>{{ value.name }}</h3>
                        <h4>{{ value.job_title }}</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            {{ value.quote|safe }}
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>